/Attack.class
/Dip.class
/Fill.class
/Leave.class
/Move.class
/Take.class
/Train.class
/Control.class
/Fix.class
/Dissemble.class
/VaderPower.class
/SpawnStorm.class
/Falc.class
/TakeDroid.class
/LeaveDroid.class
/LeaveHumanoid.class
/TakeHumanoid.class
