/Application.class
/Capability.class
/SWAction.class
/SWActionInterface.class
/SWActor.class
/SWAffordance.class
/SWEntity.class
/SWEntityInterface.class
/SWGrid.class
/SWLegend.class
/SWLocation$SWLocationMaker.class
/SWLocation.class
/SWWorld.class
/Team.class
